# Classification Exercise

We'll be working with some California Census Data, we'll be trying to use various features of an individual to predict what class of income they belogn in (>50k or <=50k). 

Here is some information about the data:

<table>
<thead>
<tr>
<th>Column Name</th>
<th>Type</th>
<th>Description</th>
</tr>
</thead>
<tbody>
<tr>
<td>age</td>
<td>Continuous</td>
<td>The age of the individual</td>
</tr>
<tr>
<td>workclass</td>
<td>Categorical</td>
<td>The type of employer the  individual has (government,  military, private, etc.).</td>
</tr>
<tr>
<td>fnlwgt</td>
<td>Continuous</td>
<td>The number of people the census  takers believe that observation  represents (sample weight). This  variable will not be used.</td>
</tr>
<tr>
<td>education</td>
<td>Categorical</td>
<td>The highest level of education  achieved for that individual.</td>
</tr>
<tr>
<td>education_num</td>
<td>Continuous</td>
<td>The highest level of education in  numerical form.</td>
</tr>
<tr>
<td>marital_status</td>
<td>Categorical</td>
<td>Marital status of the individual.</td>
</tr>
<tr>
<td>occupation</td>
<td>Categorical</td>
<td>The occupation of the individual.</td>
</tr>
<tr>
<td>relationship</td>
<td>Categorical</td>
<td>Wife, Own-child, Husband,  Not-in-family, Other-relative,  Unmarried.</td>
</tr>
<tr>
<td>race</td>
<td>Categorical</td>
<td>White, Asian-Pac-Islander,  Amer-Indian-Eskimo, Other, Black.</td>
</tr>
<tr>
<td>gender</td>
<td>Categorical</td>
<td>Female, Male.</td>
</tr>
<tr>
<td>capital_gain</td>
<td>Continuous</td>
<td>Capital gains recorded.</td>
</tr>
<tr>
<td>capital_loss</td>
<td>Continuous</td>
<td>Capital Losses recorded.</td>
</tr>
<tr>
<td>hours_per_week</td>
<td>Continuous</td>
<td>Hours worked per week.</td>
</tr>
<tr>
<td>native_country</td>
<td>Categorical</td>
<td>Country of origin of the  individual.</td>
</tr>
<tr>
<td>income</td>
<td>Categorical</td>
<td>"&gt;50K" or "&lt;=50K", meaning  whether the person makes more  than \$50,000 annually.</td>
</tr>
</tbody>
</table>

## Follow the Directions in Bold. If you get stuck, check out the solutions lecture.

### THE DATA

** Read in the census_data.csv data with pandas**

In [1]:
import pandas as pd

In [2]:
census = pd.read_csv('census_data.csv')

In [3]:
census.head()

,age,workclass,education,education_num,marital_status,occupation,relationship,race,gender,capital_gain,capital_loss,hours_per_week,native_country,income_bracket
0,39,State-gov,Bachelors,13,Never-married,Adm-clerical,Not-in-family,White,Male,2174,0,40,United-States,<=50K
1,50,Self-emp-not-inc,Bachelors,13,Married-civ-spouse,Exec-managerial,Husband,White,Male,0,0,13,United-States,<=50K
2,38,Private,HS-grad,9,Divorced,Handlers-cleaners,Not-in-family,White,Male,0,0,40,United-States,<=50K
3,53,Private,11th,7,Married-civ-spouse,Handlers-cleaners,Husband,Black,Male,0,0,40,United-States,<=50K
4,28,Private,Bachelors,13,Married-civ-spouse,Prof-specialty,Wife,Black,Female,0,0,40,Cuba,<=50K

** TensorFlow won't be able to understand strings as labels, you'll need to use pandas .apply() method to apply a custom function that converts them to 0s and 1s. This might be hard if you aren't very familiar with pandas, so feel free to take a peek at the solutions for this part.**

** Convert the Label column to 0s and 1s instead of strings.**

In [4]:
census['income_bracket'].unique()

array([' <=50K', ' >50K'], dtype=object)

In [7]:
census['income_bracket'] = pd.get_dummies(census['income_bracket'], drop_first=True)

In [8]:
census.head()

,age,workclass,education,education_num,marital_status,occupation,relationship,race,gender,capital_gain,capital_loss,hours_per_week,native_country,income_bracket
0,39,State-gov,Bachelors,13,Never-married,Adm-clerical,Not-in-family,White,Male,2174,0,40,United-States,0
1,50,Self-emp-not-inc,Bachelors,13,Married-civ-spouse,Exec-managerial,Husband,White,Male,0,0,13,United-States,0
2,38,Private,HS-grad,9,Divorced,Handlers-cleaners,Not-in-family,White,Male,0,0,40,United-States,0
3,53,Private,11th,7,Married-civ-spouse,Handlers-cleaners,Husband,Black,Male,0,0,40,United-States,0
4,28,Private,Bachelors,13,Married-civ-spouse,Prof-specialty,Wife,Black,Female,0,0,40,Cuba,0

### Perform a Train Test Split on the Data

In [9]:
x_data = census.drop('income_bracket', axis=1)

In [10]:
from sklearn.model_selection import train_test_split

In [11]:
y_labels = census['income_bracket']

In [12]:
X_train, X_test, y_train, y_test = train_test_split(x_data,y_labels,test_size=0.3,random_state=25)

### Create the Feature Columns for tf.esitmator

** Take note of categorical vs continuous values! **

In [13]:
census.columns

Index(['age', 'workclass', 'education', 'education_num', 'marital_status',
       'occupation', 'relationship', 'race', 'gender', 'capital_gain',
       'capital_loss', 'hours_per_week', 'native_country', 'income_bracket'],
      dtype='object')

** Import Tensorflow **

In [14]:
import tensorflow as tf

** Create the tf.feature_columns for the categorical values. Use vocabulary lists or just use hash buckets. **

In [15]:
gender = tf.feature_column.categorical_column_with_vocabulary_list("gender", ["Female", "Male"])
occupation = tf.feature_column.categorical_column_with_hash_bucket("occupation", hash_bucket_size=1000)
marital_status = tf.feature_column.categorical_column_with_hash_bucket("marital_status", hash_bucket_size=1000)
relationship = tf.feature_column.categorical_column_with_hash_bucket("relationship", hash_bucket_size=1000)
education = tf.feature_column.categorical_column_with_hash_bucket("education", hash_bucket_size=1000)
workclass = tf.feature_column.categorical_column_with_hash_bucket("workclass", hash_bucket_size=1000)
native_country = tf.feature_column.categorical_column_with_hash_bucket("native_country", hash_bucket_size=1000)

** Create the continuous feature_columns for the continuous values using numeric_column **

In [16]:
age = tf.feature_column.numeric_column("age")
education_num = tf.feature_column.numeric_column("education_num")
capital_gain = tf.feature_column.numeric_column("capital_gain")
capital_loss = tf.feature_column.numeric_column("capital_loss")
hours_per_week = tf.feature_column.numeric_column("hours_per_week")

** Put all these variables into a single list with the variable name feat_cols **

In [17]:
feat_cols = [gender,occupation,marital_status,relationship,education,workclass,native_country,
            age,education_num,capital_gain,capital_loss,hours_per_week]

### Create Input Function

** Batch_size is up to you. But do make sure to shuffle!**

In [18]:
input_func=tf.estimator.inputs.pandas_input_fn(x=X_train,y=y_train,batch_size=100,num_epochs=None,shuffle=True)

#### Create your model with tf.estimator

**Create a LinearClassifier.(If you want to use a DNNClassifier, keep in mind you'll need to create embedded columns out of the cateogrical feature that use strings, check out the previous lecture on this for more info.)**

In [19]:
model = tf.estimator.LinearClassifier(feature_columns=feat_cols)

INFO:tensorflow:Using default config.
WARNING:tensorflow:Using temporary folder as model directory: /var/folders/g1/nd73qdpj6kjd99k5hl46g6r00000gn/T/tmpijpbxxxh
INFO:tensorflow:Using config: {'_model_dir': '/var/folders/g1/nd73qdpj6kjd99k5hl46g6r00000gn/T/tmpijpbxxxh', '_tf_random_seed': 1, '_save_summary_steps': 100, '_save_checkpoints_secs': 600, '_save_checkpoints_steps': None, '_session_config': None, '_keep_checkpoint_max': 5, '_keep_checkpoint_every_n_hours': 10000, '_log_step_count_steps': 100}

** Train your model on the data, for at least 5000 steps. **

In [20]:
model.train(input_fn=input_func,steps=5000)

INFO:tensorflow:Create CheckpointSaverHook.
INFO:tensorflow:Saving checkpoints for 1 into /var/folders/g1/nd73qdpj6kjd99k5hl46g6r00000gn/T/tmpijpbxxxh/model.ckpt.
INFO:tensorflow:loss = 69.31474, step = 1
INFO:tensorflow:global_step/sec: 244.778
INFO:tensorflow:loss = 321.52798, step = 101 (0.410 sec)
INFO:tensorflow:global_step/sec: 369.563
INFO:tensorflow:loss = 293.38635, step = 201 (0.269 sec)
INFO:tensorflow:global_step/sec: 416.013
INFO:tensorflow:loss = 85.793465, step = 301 (0.240 sec)
INFO:tensorflow:global_step/sec: 304.223
INFO:tensorflow:loss = 114.85474, step = 401 (0.329 sec)
INFO:tensorflow:global_step/sec: 312.405
INFO:tensorflow:loss = 311.70865, step = 501 (0.320 sec)
INFO:tensorflow:global_step/sec: 398.467
INFO:tensorflow:loss = 67.95466, step = 601 (0.251 sec)
INFO:tensorflow:global_step/sec: 425.148
INFO:tensorflow:loss = 300.3443, step = 701 (0.235 sec)
INFO:tensorflow:global_step/sec: 339.341
INFO:tensorflow:loss = 913.71594, step = 801 (0.295 sec)
INFO:tensorflow:global_step/sec: 387.628
INFO:tensorflow:loss = 337.40787, step = 901 (0.258 sec)
INFO:tensorflow:global_step/sec: 428.971
INFO:tensorflow:loss = 431.41873, step = 1001 (0.232 sec)
INFO:tensorflow:global_step/sec: 293.675
INFO:tensorflow:loss = 52.346138, step = 1101 (0.341 sec)
INFO:tensorflow:global_step/sec: 317.202
INFO:tensorflow:loss = 86.91034, step = 1201 (0.317 sec)
INFO:tensorflow:global_step/sec: 285.369
INFO:tensorflow:loss = 30.457777, step = 1301 (0.349 sec)
INFO:tensorflow:global_step/sec: 354.13
INFO:tensorflow:loss = 59.40703, step = 1401 (0.282 sec)
INFO:tensorflow:global_step/sec: 303.149
INFO:tensorflow:loss = 69.66553, step = 1501 (0.330 sec)
INFO:tensorflow:global_step/sec: 305.383
INFO:tensorflow:loss = 286.14706, step = 1601 (0.328 sec)
INFO:tensorflow:global_step/sec: 341.451
INFO:tensorflow:loss = 30.193459, step = 1701 (0.294 sec)
INFO:tensorflow:global_step/sec: 407.278
INFO:tensorflow:loss = 50.238567, step = 1801 (0.246 sec)
INFO:tensorflow:global_step/sec: 341.481
INFO:tensorflow:loss = 34.45179, step = 1901 (0.291 sec)
INFO:tensorflow:global_step/sec: 356.845
INFO:tensorflow:loss = 78.16488, step = 2001 (0.280 sec)
INFO:tensorflow:global_step/sec: 387.16
INFO:tensorflow:loss = 66.92629, step = 2101 (0.259 sec)
INFO:tensorflow:global_step/sec: 348.68
INFO:tensorflow:loss = 45.483925, step = 2201 (0.287 sec)
INFO:tensorflow:global_step/sec: 366.593
INFO:tensorflow:loss = 33.299995, step = 2301 (0.273 sec)
INFO:tensorflow:global_step/sec: 316.289
INFO:tensorflow:loss = 151.32759, step = 2401 (0.316 sec)
INFO:tensorflow:global_step/sec: 345.012
INFO:tensorflow:loss = 46.504196, step = 2501 (0.290 sec)
INFO:tensorflow:global_step/sec: 302.342
INFO:tensorflow:loss = 176.23329, step = 2601 (0.331 sec)
INFO:tensorflow:global_step/sec: 299.592
INFO:tensorflow:loss = 36.642723, step = 2701 (0.334 sec)
INFO:tensorflow:global_step/sec: 284.715
INFO:tensorflow:loss = 95.751144, step = 2801 (0.351 sec)
INFO:tensorflow:global_step/sec: 302.104
INFO:tensorflow:loss = 40.844208, step = 2901 (0.331 sec)
INFO:tensorflow:global_step/sec: 304.963
INFO:tensorflow:loss = 39.68041, step = 3001 (0.328 sec)
INFO:tensorflow:global_step/sec: 274.114
INFO:tensorflow:loss = 56.144695, step = 3101 (0.365 sec)
INFO:tensorflow:global_step/sec: 361.089
INFO:tensorflow:loss = 28.960754, step = 3201 (0.277 sec)
INFO:tensorflow:global_step/sec: 335.941
INFO:tensorflow:loss = 169.71022, step = 3301 (0.297 sec)
INFO:tensorflow:global_step/sec: 336.948
INFO:tensorflow:loss = 164.04214, step = 3401 (0.297 sec)
INFO:tensorflow:global_step/sec: 345.527
INFO:tensorflow:loss = 114.3725, step = 3501 (0.289 sec)
INFO:tensorflow:global_step/sec: 354.482
INFO:tensorflow:loss = 70.63558, step = 3601 (0.282 sec)
INFO:tensorflow:global_step/sec: 309.344
INFO:tensorflow:loss = 64.82418, step = 3701 (0.323 sec)
INFO:tensorflow:global_step/sec: 337.721
INFO:tensorflow:loss = 38.780476, step = 3801 (0.296 sec)
INFO:tensorflow:global_step/sec: 319.634
INFO:tensorflow:loss = 31.96976, step = 3901 (0.313 sec)
INFO:tensorflow:global_step/sec: 351.974
INFO:tensorflow:loss = 86.29016, step = 4001 (0.284 sec)
INFO:tensorflow:global_step/sec: 284.364
INFO:tensorflow:loss = 38.272644, step = 4101 (0.352 sec)
INFO:tensorflow:global_step/sec: 363.828
INFO:tensorflow:loss = 93.56395, step = 4201 (0.276 sec)
INFO:tensorflow:global_step/sec: 369.24
INFO:tensorflow:loss = 36.540863, step = 4301 (0.270 sec)
INFO:tensorflow:global_step/sec: 321.404
INFO:tensorflow:loss = 56.820076, step = 4401 (0.311 sec)
INFO:tensorflow:global_step/sec: 374.355
INFO:tensorflow:loss = 30.6197, step = 4501 (0.267 sec)
INFO:tensorflow:global_step/sec: 377.423
INFO:tensorflow:loss = 41.51484, step = 4601 (0.265 sec)
INFO:tensorflow:global_step/sec: 316.527
INFO:tensorflow:loss = 45.59213, step = 4701 (0.316 sec)
INFO:tensorflow:global_step/sec: 313.193
INFO:tensorflow:loss = 41.56096, step = 4801 (0.321 sec)
INFO:tensorflow:global_step/sec: 379.262
INFO:tensorflow:loss = 80.09561, step = 4901 (0.263 sec)
INFO:tensorflow:Saving checkpoints for 5000 into /var/folders/g1/nd73qdpj6kjd99k5hl46g6r00000gn/T/tmpijpbxxxh/model.ckpt.
INFO:tensorflow:Loss for final step: 43.475452.

### Evaluation

** Create a prediction input function. Remember to only supprt X_test data and keep shuffle=False. **

In [21]:
pred_fn = tf.estimator.inputs.pandas_input_fn(x=X_test,batch_size=len(X_test),shuffle=False)

** Use model.predict() and pass in your input function. This will produce a generator of predictions, which you can then transform into a list, with list() **

In [23]:
predictions = list(model.predict(input_fn=pred_fn))

INFO:tensorflow:Restoring parameters from /var/folders/g1/nd73qdpj6kjd99k5hl46g6r00000gn/T/tmpijpbxxxh/model.ckpt-5000

** Each item in your list will look like this: **

** Create a list of only the class_ids key values from the prediction list of dictionaries, these are the predictions you will use to compare against the real y_test values. **

In [25]:
final_preds = []
for pred in predictions:
    final_preds.append(pred['class_ids'][0])

** Import classification_report from sklearn.metrics and then see if you can figure out how to use it to easily get a full report of your model's performance on the test data. **

In [26]:
from sklearn.metrics import classification_report

In [28]:
print(classification_report(y_test,final_preds))

              precision    recall  f1-score   support

           0       0.90      0.91      0.91      7463
           1       0.70      0.66      0.68      2306

   micro avg       0.85      0.85      0.85      9769
   macro avg       0.80      0.79      0.79      9769
weighted avg       0.85      0.85      0.85      9769

# Great Job!